$accentColor1: rgb(123, 123, 233);
$backgroundColor1: rgb(183, 183, 210);
$backgroundColor2: rgb(183, 183, 210);
$borderColor1: rgb(125, 128, 142);
$borderColor2: rgb(181, 186, 209);

$mobile: 360px;
$tablet: 768px;
$desktop: 1200px